{% extends 'base.html.twig' %}

{% block title %}Votre projet !{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="css/myproject.css">
{% endblock %}


{% block body %}
<div style="color:gray"> NOTE : Le nombre d'étudiant dans le groupe doit être d'au moins de 4 (maximum 6) pour envoyer une demande aux tuteurs.</div>
 
 {% if etu != null  and  etu!= 'l' %}   
        <div class="alert alert-success">
        <strong> Votre demande a été envoyée avec succés</strong> 
        </div>
 {% elseif etu==null %}
    <div class="alert alert-danger"> <strong> Cet etudiant n'existe pas </strong></div> 
 {% endif %}

<div class="col-md-3" >
  <a  class="btn btn-outline-secondary" data-toggle="collapse" href="#collapse1"  style="margin: 50px">Liste des étudiants</a>
  <div id="collapse1" class="panel-collapse collapse">
    <ul>
      {% for etudiant in etudiants %}
      <li> {{etudiant.prenom}}  {{etudiant.nom}}</li>
      {% endfor %}
    </ul>
  </div>
</div>

{%   if result<6 %}
<div class="col-md-3" >
  <a  class="btn btn-outline-secondary" data-toggle="collapse" href="#collapse2" style="margin: 50px">Inviter un etudiant</a> 
  <div id="collapse2" class="panel-collapse collapse">
  <form method="post" action="">
  <div class="container">
  <h4> Saisir le nom ou prenom </h4>
    <input class="form-control" id="myInput" type="text" placeholder="Search.." style="width:80%" onBlur="ForcerCaseCochee()" value="" name="nom-prenom"  >
  <br>
  <ul  class="list-group" id="myList"  role="tablist">
  {% for listeetudian in listeetudiant %}
  <li class="list-group-item list-group-item-action "  style="width:80%"> <a class="list-group-item list-group-item-action " data-toggle="list" href="#myInput" onclick="document.getElementById('myInput').value = '{{listeetudian.nom}} {{listeetudian.prenom}}'" > {{listeetudian.nom}} {{listeetudian.prenom}}   </a>   </li>
  {% endfor %}
  </ul>  
</div>

<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myList li").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>
<input type="submit" value="Inviter" > 
  </form>
  </div>
</div>
 
 {% endif %}

 {%   if result>3 %}
<div class="col-md-3" >

  <a  class="btn btn-outline-secondary" data-toggle="collapse" href="#collapse3">Demande Tuteur</a> 
  <div id="collapse3" class="panel-collapse collapse">

   
  <form method="post" action="">
  <div class="container">
    <h4> Saisir le nom ou prenom </h4>
    <input class="form-control" id="myInput2" type="text" placeholder="Search.." style="width:80%" onBlur="ForcerCaseCochee()" value="" name="nom-prenom-prof"  >
    <br>
      <ul  class="list-group" id="myList2"  role="tablist">
      {% for professeur in professeurs %}
      <li class="list-group-item list-group-item-action "  style="width:80%"> <a class="list-group-item list-group-item-action " data-toggle="list" href="#myInput2" onclick="document.getElementById('myInput2').value = '{{professeur.nom}} {{professeur.prenom}}'" > {{professeur.nom}} {{professeur.prenom}}   </a>   </li>  

      {% endfor %}

      </ul>  
  </div>

<script>
$(document).ready(function(){
  $("#myInput2").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myList2 li").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>
<input type="submit" value="Inviter" >   
  </form>
 
  </div>

</div>
 
 {% endif %}



<div class="text-right" >
  <a href = "{{ path('quitter_groupe') }}" class="btn btn-outline-danger btn-sm" onclick="if(!confirm('Voulez vous vraiment quitter ce groupe?' )) { return false; }"> Quitter le groupe  </a>

</div>



<div class="table">
  <h2 class="heading">
    À faire  <a  class="btn btn-outline-primary" data-toggle="collapse" href="#collapse5" href="#">Ajouter</a>
  </h2>
   <div id="collapse5" class="panel-collapse collapse">
      <div class="block">
        {{ form_start(form) }}
              <ul class="options">
                <li>
                       {{ form_row(form.description) }}
                </li>
              </ul>
            <input class="btn btn-secondary active"" type="submit" value="add">
         {{ form_end(form) }}
    </div>

</div>

{% for tache in taches %}
   {% if tache.statut=='afaire' %}
    <div class="block">
        <ul class="options">
          <li>
            <a class="nav-link" >{{tache.description}}</a>
            <a class="btn btn-outline-secondary" style="padding:0.5% ;"  href="{{ path('taches_change_statut', {'id':tache.id,'statut':'En cours' } ) }}">-->En cours</a>
          </li>
        </ul>
    </div>
    {% endif %}
{% endfor %}

</div>

<div class="table">
  <h2 class="heading">
    En cours
  </h2>
  {% for tache in taches %}
   {% if tache.statut=='En cours' %}
    <div class="block">
        <ul class="options">
          <li>
            <a class="nav-link" >{{tache.description}}</a>
            <a class="btn btn-outline-secondary" style="padding:0.5% ;"  href="{{ path('taches_change_statut', {'id':tache.id,'statut':'Fait' } ) }}">-->Fait</a>
          </li>
        </ul>
    </div>
    {% endif %}
{% endfor %}
</div>


<div class="table">

  <h2 class="heading">
      Fait
    </a>
  </h2>
 {% for tache in taches %}
   {% if tache.statut=='Fait' %}
    <div class="block">
        <ul class="options">
          <li>
            <a class="nav-link" >{{tache.description}}</a>
           
          </li>
        </ul>
    </div>
    {% endif %}
{% endfor %}
</div>

{% endblock %}

