{% extends "base.html.twig" %}

{% block title 'Gérer les tuteurs' %}

{% block body %}
    <div class="container mt-4">
    
    <div class="jumbotron text-center">
        <h1> Gérer les tuteurs</h1>
    </div>

    {% for message in app.flashes('success') %}
        <div class = "alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Titre</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        
        {% for prof in professeur %}
            <tr>
                <td> {{ prof.username }} </td>
                <td> 
                    <a href="{{ path('admin_edit_tuteur', {id: prof.id}) }}" class="btn btn-secondary">Editer</a>
                    <form method="post" action =" {{ path ('admin_delete_tuteur', {id: prof.id }) }}" style  = "display: inline-block" onsubmit = "return confirm ('Vous allez supprimer un tuteur !')">
                        <input type = "hidden" name = "_method" value = "DELETE">
                        <input type = "hidden" name = "_token" value = "{{ csrf_token('delete' ~ prof.id) }}">
                        <button class = "btn btn-danger"> Supprimer </button>
                    </form>
                </td>
                </tr>
        {% endfor %}
        </tbody>
        </table>

        <div class = "text-right">
            <a href = "{{ path('fos_user_registration_register')}}" class="btn btn-primary" > Créer un tuteur </a>
        </div>
    </div>
    
{% endblock %}